.error .form-control {
  border: 1px solid red;
  border-radius: 4px;
  margin-bottom: 5px;
}

.search-panel {
  margin: 100px 0;

  .form-group {
    position: relative;

    #inputSearch {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .btn-search {
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px 30px 11px 30px;
    }
  }
}

.result {
  .result-photo {
    width: 100%;
    margin-bottom: 20px;
  }
}
