<div class="search-panel">
  <div class="container">
    <form class="form" [formGroup]="searchForm" (ngSubmit)="loadData()">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="form-group">
            <div [ngClass]="{error: !searchForm.get('text').valid && searchForm.get('text').touched}">
              <input type="text" class="form-control" formControlName="text" id="inputSearch" placeholder="Search photo">
            </div>
            <div *ngIf="searchForm.get('text').hasError('required') && searchForm.get('text').touched" class="error-box">This field is required</div>
            <button type="submit" class="btn btn-primary btn-search">Search</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <label for="sort-select">Sort by:</label>
        <select name="sort" class="form-control" formControlName="sort" id="sort-select">
          <option *ngFor="let element of sortOptions" [value]="element.value">{{element.label}}</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="content-select">Content type:</label>
        <select name="sort" class="form-control" formControlName="content_type" id="content-select">
          <option *ngFor="let element of contentTypes" [value]="element.value">{{element.label}}</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="inputTag">Tags (comma-delimited):</label>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="tags" id="inputTag" placeholder="Tags">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="result">
  <div class="container">
    <div class="row">
      <div class="col-md-2" *ngFor="let photo of rows">
        <a [routerLink]="['details', photo.id]">
          <img class="result-photo" src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_q.jpg">
        </a>
      </div>
    </div>
    <div class="result-pagination">
      <pagination *ngIf="rows.length > 0" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="10" [rotate]="false" (pageChanged)="loadData()"></pagination>
    </div>
  </div>
</div>
