.photo-details {
  margin-top: 80px;

  img {
    margin-top: 30px;
    margin-bottom: 100px;
    max-width: 100%;
  }

  .option-back a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #2574A9;
    border-radius: 20px;
    padding: 4px 8px;
  }

  .error {
    margin-top: 100px;
    &-slogan {
      font-size: 20px;
    }
    .fa {
      font-size: 20px;
    }
  }

  .table-exif {
    margin-top: 30px;
  }
}
