.photo-details {
  margin-top: 80px;

  img {
    margin-top: 30px;
  }

  .option-back a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #2574A9;
    border-radius: 20px;
    padding: 4px 8px;
  }
}
